

<table class="table table-hover table-bordered align-middle">
  <thead class="table-light">
    <tr>
      <th>#</th>
      <th>Κωδικός</th>
      <th>Περιγραφή</th>
      <th>Κατηγορία</th>
      <th>Απόθεμα</th>
      <th>Τιμή</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ product.barcode }}</td>
      <td>{{ product.desc }}</td>
      <td>{{ product.category.cat_type if product.category else 'Χωρίς κατηγορία' }}</td>
      <td>{{ product.stock }}</td>
      <td>{{ "%.2f"|format(product.price) }} €</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
