.categories{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 56px;

}

.category {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    cursor:pointer;
}