
.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
    margin: 10px;
}

.product{
    width: 300px;
    height: 300px;
    border:1px groove black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.btn{
    border:1px groove black;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    cursor: pointer;

}
.product:hover{
    background-color: lightgray;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.btn > a {
    text-decoration: none;
    color: black;
}
