{%extends 'base.html' %}


{%block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/register_product.css')}}">
{%endblock%}

{%block content %}

{%if form %}

<form action="{{url_for('product.register_product')}}" method="POST" class="product-register-form">

    {{form.hidden_tag()}}
    {{form.barcode.label}}
    {{form.barcode()}}
    {{form.desc.label}}
    {{form.desc()}}
    {{form.price.label}}
    {{form.price()}}
    {{form.stock.label}}
    {{form.stock()}}
    {{form.image.label}}
    {{form.image()}}
    {{form.submit()}}
</form>

{%endif%}

{%endblock%}