{%extends "base.html"%}

{%block css%}
<link rel="stylesheet" href="{{url_for('auth.static',filename='css/reset_password.css')}}">
{%endblock%}

{%block content%}
<fieldset>
    <legend>Αλλαγή Συνθηματικού</legend>

    {%if form %}
    <form action="{{url_for('auth.reset_password')}}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {{ form.password_confirm.label(class="form-label")}}
        {{ form.password_confirm(class="form-control")}}
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{url_for('auth.login')}}" class="btn btn-secondary">Επιστροφή</a>
    </form>
    {%endif%}
</fieldset>
{%endblock%}


