{% extends "base.html"%}

{%block css%}
<link rel="stylesheet" href="{{url_for('static',filename='css/dashboard.css')}}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
{%endblock%}

{%block content %}

{%if form %}

<form action="{{url_for('product.edit_product')}}" method="post">

    
    {{ form.hidden_tag() }}
    {{ form.barcode(type="hidden") }}


    <div class="mb-3">
        {{ form.barcode.label(class="form-label") }}
        {{ form.barcode(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.desc.label(class="form-label") }}
        {{ form.desc(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.price.label(class="form-label") }}
        {{ form.price(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.stock.label(class="form-label") }}
        {{ form.stock(class="form-control") }}
    </div>


    <div class="text-center">
        {{ form.submit(class="btn btn-primary px-4") }}
    </div>

</form>

{%endif%}
{%endblock%}