{% extends "base.html" %}


{%block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/dashboard.css')}}">
{%endblock%}



{%block content%}


{%include 'user-nav.html'%}

{%if message %}
<div class="message">

</div>

{%endif%}



<div class="product-actions">
    <button class="register-product">
        <a href="{{url_for('product.register_product')}}">Εγγραφή Προϊόντος</a>
    </button>
</div>

<div class="container">
    {%for product in products%}
    <div class="product">
        <span class="product-desc">
            {{product.desc}}
        </span>
        <img src="{{product.image}}" alt="Image">
        <span class="product-barcode">
            {{product.barcode}}
        </span>
    </div>
    {%endfor%}
</div>

{%include 'pagination.html'%}

{%include 'copyright.html'%}

{%endblock%}