{% extends "base.html" %}


{%block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/dashboard.css')}}">
{%endblock%}

{%block js %}
<script src="{{url_for('static',filename='js/dashboard.js')}}"></script>
{%endblock%}

{%block content%}


{%include 'user-nav.html'%}

{%if message %}
<div class="message">

</div>

{%endif%}



<div class="actions">
    <a href="{{url_for('product.register_product')}}" class="btn">Νέο Προϊόν</a>
    <a href="{{url_for('category.register_category')}}" class="btn">Νέα Κατηγορία</a>
    <a href="" class="btn">Ανάθεση προϊόντος σε κατηγορία</a>
</div>

<div class="container">
    {%for product in products%}
    <div class="product" data-barcode="{{product.barocde}}">
        <span class="product-desc">
            {{product.desc}}
        </span>
        <img src="{{product.image_file}}" alt="Image">
        <span class="product-barcode">
            {{product.barcode}}
        </span>
    </div>
    {%endfor%}
</div>

{%include 'pagination.html'%}

{%include 'copyright.html'%}

{%endblock%}