{% extends "base.html" %}

{%block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/menu.css')}}">
{%endblock%}

{% block content %}

<nav id="sidebarMenu" class="sidebar">
    <div class="sidebar__header">
    </div>

    <ul class="sidebar__actions">
        <li>
            <a href="{{ url_for('dashboard') }}" class="sidebar__btn">
                <i class="fa fa-home"></i> Αρχική
            </a>
        </li>
        
        <li>
            <a href="{{ url_for('product.register_product') }}" class="sidebar__btn">
                <i class="fa fa-plus-circle"></i> Νέο Προϊόν
            </a>
        </li>

        <li>
            <a href="{{ url_for('category.register_category') }}" class="sidebar__btn">
                <i class="fa fa-tags"></i> Νέα Κατηγορία
            </a>
        </li>

        <li>
            <a href="{{ url_for('supplier.register_supplier') }}" class="sidebar__btn">
                <i class="fa fa-industry"></i> Νέος Προμηθευτής
            </a>
        </li>

        <li>
            <a href="{{ url_for('category.categories') }}" class="sidebar__btn">
                <i class="fa fa-list"></i> Κατηγορίες
            </a>
        </li>
    </ul>
    <div class="user-info">
        <i class="fa fa-user"></i> {{current_user.username}}
        <a class="btn sign-out-btn" href="{{url_for('auth.logout')}}">
            <i class="fa fa-sign-out">Αποσύνδεση</i>
        </a>
    </div>
</nav>

{% endblock %}
