{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{% endblock %}

{% block content %}

<nav id="sidebarMenu" class="sidebar">
  <div>
    <div class="sidebar__header">
      <i class="fa-solid fa-store me-2"></i> Inventory
    </div>

    <ul class="sidebar__actions">
      <li>
        <a href="{{ url_for('dashboard') }}" class="sidebar__btn {% if request.endpoint == 'dashboard' %}active{% endif %}">
          <i class="fa fa-home"></i> Αρχική
        </a>
      </li>

      <li>
        <a href="{{ url_for('category.categories') }}" class="sidebar__btn {% if request.endpoint == 'category.categories' %}active{% endif %}">
          <i class="fa fa-list"></i> Κατηγορίες
        </a>
      </li>
  
      <li>
        <a href="{{ url_for('supplier.suppliers') }}" class="sidebar__btn {% if request.endpoint == 'category.categories' %}active{% endif %}">
          <i class="fa fa-truck"></i> Προμηθευτές
        </a>
      </li>

      <li>
        <a href="{{ url_for('product.products', view='list') }}" class="sidebar__btn {% if request.endpoint == 'category.categories' %}active{% endif %}">
          <i class="fa fa-box"></i> Προϊόντα
        </a>
      </li>

    </ul>
  </div>

  <div class="user-info text-center">
    <div><i class="fa fa-user"></i> {{ current_user.username }}</div>
    <a class="sign-out-btn" href="{{ url_for('auth.logout') }}">
      <i class="fa fa-sign-out"></i>
      <span class="sign-out-label">Αποσύνδεση</span>
    </a>
  </div>
</nav>

{% endblock %}
