{%extends 'base.html'%}


{%block content%}

<form action="{{url_for('product.register_product')}}" method="post">

    {{ form.hidden_tag() }}

    {{form.product_id.label}}
    {{form.product_id()}}
    {{form.product_desc.label}}
    {{form.product_desc()}}
    {{form.stock.label}}
    {{form.stock()}}
    {{form.comments.label}}
    {{form.comments()}}
    {{form.submit()}}

</form>
{%endblock%}


{%block js %}
<script src="{{url_for('product.static',filename='js/event-listeners.js')}}"></script>
{%endblock%}