{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('category.static', filename='css/category_info.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{% endblock %}

{%block js %}
<script src="{{ url_for('category.static', filename='js/category_info.js') }}"></script>
{% endblock %}

{% block content %}
{% include 'menu.html' %}

<div class="main-content">

  <!-- Category Header Card -->
  <div class="category-header-card">
    <div class="category-info">
      <h2>{{ category.cat_type }}</h2>
      <p>Συνολικά Προϊόν: <span class="highlight">{{total }}</span></p>
    </div>
    <div class="category-actions">
      <a href="{{ url_for('category.edit_category', id=category.id) }}" class="btn btn-edit">
        <i class="fa fa-edit"></i> Επεξεργασία
      </a>
    </div>
  </div>

  <!-- Product List Table -->
  {% if category.products %}
    <div class="products-table-wrapper">
    <div class="table-actions mb-2">
    <button type="button" class="btn btn-delete" id="deleteSelectedBtn">
      <i class="fa fa-trash"></i> Διαγραφή Επιλεγμένων
    </button>
  </div>
    <table class="products-table">
      <thead>
        <tr>
          <th><input type="checkbox" name="barcodes" class="checkbox" id="selectAll"></th>
          <th>#</th>
          <th>Κωδικός Προϊοντος</th>
          <th>Περιγραφή Προϊοντος</th>
          <th>Απόθεμα</th>
          <th>Τιμή</th>
        </tr>
      </thead>
      <tbody>
        {% for product in category.products %}
        <tr>
          <td><input type="checkbox" name="barcodes" value="{{ product.barcode }}" class="checkbox" id="barcode"></td>
          <td>{{ loop.index }}</td>
          <td><a href="{{ url_for('product.edit_product', barcode=product.barcode) }}">{{ product.barcode }}</a></td>
          <td>{{ product.desc }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p class="no-products">Δεν υπαρχουν προιοντα στην κατηγορια.</p>
  {% endif %}

</div>
{% endblock %}
