{%extends "base.html"%}

{%block css%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
{%endblock%}

{%block content %}
{%include "menu.html" %}

{%if form %}

<form action="{{url_for('category.register_category')}}" method="POST">


{{ form.hidden_tag() }}

{{form.category_type.label}}
{{form.category_type()}}

{{form.submit()}}


</form>
{%endif%}


{%endblock%}